        <div class="header-nav" id="start">
            {{#foreach navigation}}
            <li><a href="{{url absolute="true"}}" {{#if current}}class="active"{{/if}}>{{label}}</a></li>
            {{/foreach}}
            <li><a href="{{@blog.url}}/ghost/"><i class="fa fa-lock"></i></a></li>
            <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>
        </div>
